.ConstructionFormField {
    padding: 10px;
    background-color: #8aa5ac2f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.ConstructionFormFieldButton {
    margin: 10px;
    background-color: #5896454b;
    /* Base color */
    color: white;
    /* Text color */
    border: none;
    /* Remove border */
    border-radius: 25px;
    /* Rounded corners */
    padding: 12px 24px;
    /* Padding inside button */
    font-size: 8px;
    /* Font size */
    font-weight: bold;
    /* Font weight */
    text-transform: uppercase;
    /* Uppercase text */
    letter-spacing: 1px;
    /* Space between letters */
    cursor: pointer;
    /* Pointer cursor on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    /* Box shadow for depth */
    transition: all 0.3s ease;
    /* Smooth transition */
    outline: none;
    /* Remove outline */


}

.AddBoxIcon {
    vertical-align: bottom;
    margin-right: 3px;
    /* padding: 3px */
}

@media (max-width: 768px) {
    .ConstructionFormField {

        width: 343px;

    }
}