.ConstructionFormField {
    padding: 10px;
    background-color: #8aa5ac2f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.ConstructionFormFieldButton {
    background-color: #98aa33a6;
    border-radius: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 16px 30px;
    background-image: url(/public/default_pattern.png);
    background-position: 0px 0;
    transition: background-position 3s ease-in-out 0s;
    margin: 10px;


}

.AddBoxIcon {
    vertical-align: bottom;
    margin-right: 3px;
    /* padding: 3px */
}

.ConstructionFormContainer {
    border-radius: 5px;
    background: #f0fff963;
    border-width: 1px;
    border-color: black;
    border-style: dashed;
}

@media (max-width: 768px) {
    .ConstructionFormField {

        width: 289px;
        display: block;

    }
}