.LayerInputField {
    padding: 10px;
    background-color: #827dad28;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


.styledButton {
    background-color: #b20000;
    border-radius: 10px;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 16px 30px;
    background-image: url(/public/default_pattern.png);
    background-position: 0px 0;
    transition: background-position 3s ease-in-out 0s;
    margin: 10px;
}

.styledButton:hover {
    background-color: #3700b3;
    /* Darker shade on hover */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    /* Deeper shadow on hover */
    transform: translateY(-3px);
    /* Lift button on hover */
}

.styledButton:active {
    background-color: #ea000041;
    /* Original color on click */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    /* Original shadow on click */
    transform: translateY(0px);
    /* Reset lift on click */
}

.LayersClearSharpIcon {
    vertical-align: bottom;
}

.LayerFormContainer {
    border-radius: 5px;
    background: #fff8f048;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 20px;
}

@media (max-width: 768px) {
    .LayerInputField {

        width: 258px;
        display: block
    }
}